:root {

    --color-text-headerTitle: var(--color-floralWhite);

    /* --color-background-aboutMeSection: var(--color-japaneseIndigo); */
    --color-border-aboutMeSection: var(--color-japaneseIndigo);
    --color-border-aboutMeImage: var(--color-floralWhite);
    --color-shadow-aboutMeImage: #a9c8d3;
    --color-fontAwesome-aboutMeSecret: var(--color-portlandOrange);

    --color-fontAwesome-skillSelectionArrow: var(--color-portlandOrange);
    
    /* --color-background-workSection: var(--color-japaneseIndigo); */
    --color-border-workSection: var(--color-japaneseIndigo);

    --color-background-workGridBoxDetails: black;
    --color-text-workGridBoxDetails: var(--color-floralWhite);
    
    /* --color-background-socialMediaSection: var(--color-japaneseIndigo); */
    --color-border-socialMediaSection: var(--color-japaneseIndigo);
    
    --color-background-contactFormSend: var(--color-portlandOrange);
    --color-text-contactFormSend: white;
}