* {
    box-sizing: border-box;
    margin-top: 0;
  }
 
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-secondary);
    min-width: 22rem;
    background-color: var(--color-white);
    color: var(--color-text-dark-primary);
  }

  h1 {
    margin-top: 0;
    font-family: var(--font-family-primary);
    text-align: center;
    text-transform: uppercase;
  }
  
  h2 {
    text-transform: uppercase;
    font-family: var(--font-family-primary);
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  h4 {
    color: var(--color-tertiary);
  }

  p {
    color: var(--color-text-dark-secondary);
    line-height: 1.5;
    max-width: 27rem;
    text-align: left;
    margin: 0 auto;
  }

  a:link {
    text-decoration: none;
  }

  input[type="text"] {
    border: 1px solid var(--color-tertiary);
  }

  textarea {
    border: 1px solid var(--color-tertiary);
  }


  